body {
  font-family: 'PT Sans',sans-serif;
  color: #444;
  padding-top: 59px;
}
.header {
  margin: 0 0;
}
.header .pure-menu {
  padding: 0.5em;
}
.header .pure-menu li a:hover,
.header .pure-menu li a:focus {
  background: none;
  border: none;
  color: #aaa;
}
.header .pure-menu .pure-menu-selected {
  color:#000;
}