body
{
  padding-top: 40px;
  background: #000;
}
.navbar .brand
{
  color: #333;
  text-shadow: none;
}
.nav-collapse .nav>li>a
{
  color: #333;
  text-shadow: none;
}
.navbar .navbar-inner
{
    background-image: none;
    border-radius: 0;
    background: #599400;
    border: 0;
}
.navbar .btn-navbar
{
  background: #777;
}
.navbar-text
{
  color: #333;
}
.dropdown-menu
{
  padding: 15px;
  padding-bottom: 0;
}
.navbar .divider-vertical
{
  border-left: 1px solid #599400;
  border-right: 1px solid #777;
}
.navbar .nav li.dropdown.open>.dropdown-toggle
{
  background: #427900;
}
