body
{
  padding-top: 40px;
  background: #000;
}
.navbar .brand
{
  color: #333;
  text-shadow: none;
}
.nav-collapse .nav>li>a
{
  color: #333;
  text-shadow: none;
}
.navbar .navbar-inner
{
    background-image: none;
    border-radius: 0;
    background: #599400;
    border: 0;
}
.navbar .btn-navbar
{
  background: #777;
}