<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <title>VexX eSports</title>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/vexx.css">
    <link rel="shortcut icon" href="{{MEDIA_URL}}vexxfavicon.ico">

  </head>

  <body>

    {% block content %}
    {% endblock content %}

  <script src="{{STATIC_URL}}js/jquery-1.10.2.min.js"></script>
  <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>

  </body>

</html>
