{% extends "base.html" %}
{% block streams_selected %}pure-menu-selected{% endblock %}
{% block content %}
<div class="pure-g-r">
{% for stream in streams %}
<div class="pure-u-1-3">
<p>{{ stream.stream_title }}</p>
<object type="application/x-shockwave-flash" width="95%" height="300px" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel={{ stream.channel_name }}" bgcolor="#000000">
  <param name="allowFullScreen" value="true" />
  <param name="allowScriptAccess" value="always" />
  <param name="allowNetworking" value="all" />
  <param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" />
  <param name="wmode" value="transparent" />
  <param name="flashvars" value="hostname=www.twitch.tv&channel={{ stream.channel_name }}&auto_play=false&start_volume=25" />
</object>
</div>
{% endfor %}
</div>
{% endblock content %}
